@{
    Layout = "~/App_Plugins/EditorTools/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Document Types";
}

@model Escc.Umbraco.EditorTools.App_Plugins.EditorTools.Models.ViewModels.DocumentTypesViewModel

<p></p>

<div class="panel panel-info">
    <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                This tab displays all of the document types available in Umbraco and how many pages use that type. You can then view a table of those pages by clicking View.
            </div>
            <div class="col-md-4">
                Data Cached on: @Model.CacheDate
            </div>
            <div class="col-md-2">
                <p><a href="/umbraco/backoffice/Plugins/DocumentTypes/RefreshCache" class="btn btn-primary" type="button" id="RefreshButton">Refresh <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
</div>

<p></p>
<div class="progress progress-striped active" id="ProgressBar">
    <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete</span>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Document Types</div>
    <div class="panel-body">
        @{Html.RenderPartial("~/App_Plugins/EditorTools/Views/Partials/_DataTable.cshtml", Model.DocumentTypes);}
    </div>
</div>

@{
    foreach (var item in Model.ModalTables)
    {
        <div class="modal fade" id="@item.Key" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        @{Html.RenderPartial("~/App_Plugins/EditorTools/Views/Partials/_DataTable.cshtml", item.Value);}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
                            }
}
<script>
    $(document).ready(function () {
        $('#ProgressBar').hide();
    });
</script>
