
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.config
!*/App_Plugins/EditorTools
!*.example.config
!packages.config
*.scc
Properties/PublishProfiles/*
packages
.nuget/NuGet.targets
*.GhostDoc.xml
Backup
UpgradeLog*.htm
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.*
*/*/DataTables
*/scripts/jquery*
*.nupkg

# Umbraco files
[Uu]mbraco/
[Uu]mbraco_Client/
[Aa]pp_Data/
[Aa]pp_Browsers/
*/App_Plugins/ModelsBuilder
[Ii]nstall/
*/[Cc]onfig/
[Dd]efault.aspx
[Vv]iews/[Ww]eb.config.transform
[Mm]edia
*.backup
dummy.txt
*.config.js
*/Views/Partials/Grid/*