@{
    Layout = "~/App_Plugins/EditorTools/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Help";
}
<p></p>
<div id="HelpPage">
    <div class="list-group panel panel-info">
        <a href="#Help" class="list-group-item" data-toggle="active" data-parent="#HelpPage"><span class="glyphicon glyphicon-heart"></span> <b>Help</b></a>
        <div class="active" id="Help">
            <div class="thumbnail">
                <p>  </p>
                <div class="panel with-nav-tabs panel-czone">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Users" data-toggle="tab"><b>Users</b></a></li>
                            <li><a href="#Content" data-toggle="tab"><b>Content</b></a></li>
                            <li><a href="#Media" data-toggle="tab"><b>Media</b></a></li>
                            <li><a href="#PageExpiry" data-toggle="tab"><b>Page Expiry</b></a></li>
                            <li><a href="#ExamineSearch" data-toggle="tab"><b>Examine Search</b></a></li>
                            <li><a href="#CSVExport" data-toggle="tab"><b>CSV Export</b></a></li>
                            <li><a href="#InBoundLinkChecker" data-toggle="tab"><b>What Links Where?</b></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="Users">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                The 'Users' tool is designed to be a quick an easy way to view all of the active and disabled users in your umbraco installation.
                                            </p>
                                            <p>
                                                This is particuly useful if a user is struggling to log in. For example they may have forgotten their username or believes their account to be disabled for some reason (Umbraco disables a user account after several failed login attempts). When not being used to troubleshoot login problems it is also a useful audit tool to see how many users you have.
                                            </p>
                                            If you visit the Stats tab you can see some basic statistics about your users, such as total users and a table of your user types.
                                            </p>
                                            <p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Content">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                The 'Content' tool queries the examine indexes and the content service for your umbraco installation and creates a table of all of your published and unpublished content. This tool is particulary handy for audit purposes. If your site is particularly large the generation of data can take at least a minute, but is then cached for future use.
                                            </p>
                                            <p>
                                                On each table for your content you are provided with the ID, Name, published url and a link to the edit page for each content node.
                                            </p>
                                            <p>
                                                If you click on the Stats tab you can see some basic statistics about all your content pages such as your total pages and a table of your document types.
                                                The process then goes a step further and generates a table for each document type to allow you to quickly view all the pages that fall under that type. On each table you can view basic information such as the pages name, id and published url. Your also provided with a link to each pages edit page.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Media">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                The 'Media' tool queries examine for all the media files it can find and returns them to you in a table.
                                            </p>
                                            <p>
                                                You can view the name, date created, the creator and the edit link for media in this table.
                                            </p>
                                            <p>
                                                If you goto the Stats tab you can view some basic statistics about your media files, such as the total media count and a table of your file types.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="PageExpiry">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                The 'Page Expiry' tool allows you to view all the pages in your umbraco installation that are published and have either an expiry date or are set never to expire (they have no expiry date).
                                            </p>
                                            <p>
                                                The first time the tool is opened it might take some time to load as the tool queries the content service to find expiry dates. However, once loaded, the data is cached to avoid having to do the query again. If you believe the tables to out of date you can click refresh to update the cache.
                                            </p>
                                            <p>
                                                This tool is particuly useful for audit purposes and to quickly find out what pages are expiring and when or which pages will never expire.
                                            </p>
                                            <p>
                                                Developers: This tool also makes use of Examine, so if you wish to speed up this tool you can add an "unpublishAt" UmbracoProperty to your document types that copies the ExpiryDate and allows it to be indexed by Examine. If a result returned by examine doesn't have this property the process then queries the content service which causes an overall slow down.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ExamineSearch">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                The 'Examine Search' tool takes your search terms and queries the Examine indexes for your umbraco installation.
                                            </p>
                                            <p>
                                                Using the drop down list you can choose to either search for media files or content pages. The results are then returned to you in a table which contains the closest results that examine could find.
                                            </p>
                                            <p>
                                                Both queries for either media or content allow for multiple search terms and will score the results returned to you.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="CSVExport">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                The 'CSV Export' tool generates a CSV file of your entire umbraco content tree that you can download.
                                            </p>
                                            <p>
                                                On particularly large websites the process will take a minimum of 30 seconds to create the CSV file. However once generated the file is cached allowing you to immediately download the file again.
                                            </p>
                                            <p>
                                                If you believe the file to be out of date, simply click the refresh button to regenerate a new CSV file.
                                            </p>
                                            <p>
                                                The CSV file contains the following properties for each page: Header, Template, Document Type, Expiry Date, Edit URL and Live URL.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="InBoundLinkChecker">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                The 'What Links Where?' tool crawls all of your published umbraco pages and indexes all the links found on those pages.
                                            </p>
                                            <p>
                                                It will also log which pages it had trouble accessing, and log all the unique domains it finds.
                                            </p>
                                            <p>
                                                Once a crawl has been done, you can then search for a link to a page, to find out which umbraco pages have that page link.
                                            </p>
                                            <p>
                                                Some issues have been found with using this tool, most notably errors that occur when the umbraco cache is not up to date. If you get an error when trying to run that crawl that says collection modified or multiple errors occured, first republish the site to
                                                refresh the umbraco cache. Then refresh the external examine index before trying again. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<p></p>
<div id="SubmitIssue">
    <div class="list-group panel panel-info">
        <a href="#SubmitIssuepanel" class="list-group-item" data-toggle="active" data-parent="#SubmitIssue"><span class="glyphicon glyphicon-exclamation-sign"></span> <b>Found an Issue</b></a>
        <div class="active" id="SubmitIssuepanel">
            <div class="thumbnail">
                <p>  </p>
                <div class="panel with-nav-tabs panel-czone">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#ReportIssue" data-toggle="tab"><b>Report an Issue</b></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="ReportIssue">
                                <div class="row">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                If you are a fellow developer with a github account and think you have come accross a bug or an issue, you can report it <a target="_top" href="https://github.com/Wolfkhan66/Escc.Umbraco.EditorTools/issues">here.</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
