@{
    Layout = "~/App_Plugins/EditorTools/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Help";
}
<p></p>
<div id="HelpPage">
    <div class="list-group panel panel-info">
        <a href="#Help" class="list-group-item" data-toggle="active" data-parent="#HelpPage"><span class="glyphicon glyphicon-heart"></span> <b>Help</b></a>
        <div class="active" id="Help">
            <div class="thumbnail">
                <p>  </p>
                <div class="panel with-nav-tabs panel-czone">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Users" data-toggle="tab"><b>Users</b></a></li>
                            <li><a href="#DocumentTypes" data-toggle="tab"><b>Document Types</b></a></li>
                            <li><a href="#CSVExport" data-toggle="tab"><b>CSV Export</b></a></li>
                            <li><a href="#ExamineSearch" data-toggle="tab"><b>Examine Search</b></a></li>
                            <li><a href="#PageExpiry" data-toggle="tab"><b>Page Expiry</b></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="Users">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                The 'Users' tool is designed to be a quick an easy way to view all of the active and disabled users in your umbraco installation.
                                            </p>
                                            <p>
                                                This is particuly useful if a user is struggling to log in. For example they may have forgotten their username or believes their account to be disabled for some reason (Umbraco disables a user account after several failed login attempts). When not being used to troubleshoot login problems it is also a useful audit tool to see how many users you have.
                                            </p>
                                            <p>
                                                The first time the users section is opened the data is loaded and cached. Simply click the refresh button if you believe the data to be out of date and the tables will be updated with the latest data from Umbraco's User Service.
                                                Unless you have a seriously large amount of users the process should take no more than a few seconds.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="DocumentTypes">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                The 'Document Types' tool queries the examine indexes for your umbraco installation and counts all of your content pages and which document type each page falls under.
                                            </p>
                                            <p>
                                                The process then goes a step further and generates a table for each document type to allow you to quickly view all the pages that fall under that type. On each table you can view basic information such as the pages name, id and published url. Your also provided with a link to each pages edit page.
                                            </p>
                                            <p>
                                                This tool is particulary handy for audit purposes or if your trying to track down a specific page of which you know the document type.
                                            </p>
                                            <p>
                                                The first time the document types section is opened the data is loaded and cached. Simply click the refresh button if you believe the data to be out of date and the tables will be updated with the latest data from the examine index.
                                                Even with a large amount of pages this process shouldn't take very long.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="CSVExport">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                The 'CSV Export' tool generates a CSV file of your entire umbraco content tree that you can download.
                                            </p>
                                            <p>
                                                On particuly large websites the process will take a minimum of 30 seconds to create the CSV file. However once generated the file is cached allowing you to immediatly download the file again.
                                            </p>
                                            <p>
                                                If you believe the file to be out of date, simply click the refresh button to regenerate a new CSV file.
                                            </p>
                                            <p>
                                                The CSV file contains the following properties for each page: Header, Template, Document Type, Expiry Date, Edit URL and Live URL.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ExamineSearch">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                The 'Examine Search' tool takes your search terms and queries the Examine indexes for your umbraco installation. At the moment the query can not handle split terms or wildcards (To be added).
                                            </p>
                                            <p>
                                                Using the drop down list you can choose to either search for media files or content pages. The results are then returned to you in a table which containts the closest results that examine could find.
                                            </p>
                                            <p>
                                                When searching for media you can search for a name or use an ID. Currently when searching for content you should only search for the url of a page (To be improved).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="PageExpiry">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                The 'Page Expiry' tool allows you to view all the pages in your umbraco installation that are published and have either an expiry date or are set never to expire (they have no expiry date).
                                            </p>
                                            <p>
                                                The first time the tool is opened it might take some time to load as the tool queries the content service to find expiry dates. However, once loaded, the data is cached to avoid having to do the query again. If you believe the tables to out of date you can click refresh to update the cache.
                                            </p>
                                            <p>
                                                This tool is particuly useful for audit purposes and to quickly find out what pages are expiring and when or which pages will never expire.
                                            </p>
                                            <p>
                                                Developers: This tool also makes use of Examine, so if you wish to speed up this tool you can add an "unpublishAt" UmbracoProperty to your document types that copies the ExpiryDate and allows it to be indexed by Examine.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<p></p>
<div id="SubmitIssue">
    <div class="list-group panel panel-info">
        <a href="#SubmitIssuepanel" class="list-group-item" data-toggle="active" data-parent="#SubmitIssue"><span class="glyphicon glyphicon-exclamation-sign"></span> <b>Found an Issue</b></a>
        <div class="active" id="SubmitIssuepanel">
            <div class="thumbnail">
                <p>  </p>
                <div class="panel with-nav-tabs panel-czone">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#ReportIssue" data-toggle="tab"><b>Report an Issue</b></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="ReportIssue">
                                <div class="row">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            <p>
                                                If you are a fellow developer with a github account and think you have come accross a bug or an issue, you can report it <a target="_top" href="https://github.com/Wolfkhan66/Escc.Umbraco.EditorTools/issues">here.</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
