@{
    Layout = "~/App_Plugins/EditorTools/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}
<p></p>
<div class="jumbotron">
    <h1>Umbraco Editor Tools</h1>
    <p class="lead">Welcome to Version 2 of the Umbraco Editor Tools, redesigned to work with MVC5 and Bootstrap 3</p>
    <p><a href="/umbraco/backoffice/Plugins/EditorToolsHome/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            The tools avaiable are fairly self explanatory, however if anything isn't clear then head on over to the help section for more information about each tool.
        </p>
        <p><a class="btn btn-default" href="/umbraco/backoffice/Plugins/EditorToolsHome/Help">Help &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Developers</h2>
        <p>If your a developer and have knowledge of MVC C# and asp.net, you can learn how to add your own improvements to this package by visiting the projects github page.</p>
        <p><a target="_top" class="btn btn-default" href="https://github.com/Wolfkhan66/Escc.Umbraco.EditorTools">Learn more &raquo;</a></p>
    </div>
</div>