@{
    Layout = "~/App_Plugins/EditorTools/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Examine Search";
}

@model Escc.Umbraco.EditorTools.App_Plugins.EditorTools.Models.ViewModels.ExamineSearchViewModel
<p></p>
<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Examine Search </div>
    <div class="panel-body">

        <div class="row">
            @using (Html.BeginForm("GetResults", "ExamineSearch", FormMethod.Post))
            {
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        @Html.TextBoxFor(m => m.Query, new { @placeholder = "Search", @class = "form-control" })
                    </div>

                    <div class="col-md-3">
                        @Html.DropDownListFor(m => m.SearchType, new List<SelectListItem>
                   { new SelectListItem{Text="Media", Value="Media"},
                     new SelectListItem{Text="Content", Value="Content"}}, new { @class = "form-control" })
                    </div>

                    <div class="col-md-2">
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@{ if (Model.HasContentResults)
    {
        <p></p>
        <div class="panel panel-default">
            <div class="panel-heading">Content</div>
            <div class="panel-body">
                @{Html.RenderPartial("~/App_Plugins/EditorTools/Views/Partials/_DataTable.cshtml", Model.ContentTable);}
            </div>
        </div>
                    }
}

@{ if (Model.HasMediaResults)
    {
        <p></p>
        <div class="panel panel-default">
            <div class="panel-heading">Media</div>
            <div class="panel-body">
                @{Html.RenderPartial("~/App_Plugins/EditorTools/Views/Partials/_DataTable.cshtml", Model.MediaTable);}
            </div>
        </div>
                    }
}