
@model Escc.Umbraco.EditorTools.App_Plugins.EditorTools.Models.DataModels.TableModel
@using System.Data

<script src="~/App_Plugins/EditorTools/Scripts/jquery-3.1.1.js"></script>
<link href="~/App_Plugins/EditorTools/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/App_Plugins/EditorTools/Scripts/DataTables/jquery.dataTables.js"></script>

<div class="dt-rowReorder-noOverflow">
    <div class="table-responsive">
        <table class="table table-striped table-bordered display data-table" cellspacing="0" id="@Model.ID">
            <thead>
                <tr>
                    @foreach (DataColumn col in Model.Table.Columns)
                    {
                        <th>@col.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Table.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in Model.Table.Columns)
                        {
                            <td>@row[col.ColumnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $('#@Model.ID').DataTable({
        aLengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, "All"]
        ],
        iDisplayLength: 10,
        "order": [[0, "desc"]]
    });
</script>