
@model string

<link href="~/App_Plugins/EditorTools/Content/bootstrap.css" rel="stylesheet" />
<link href="~/App_Plugins/EditorTools/Content/Site.css" rel="stylesheet" />
<script src="~/App_Plugins/EditorTools/Scripts/jquery-3.1.1.js"></script>
<script src="~/App_Plugins/EditorTools/Scripts/bootstrap.js"></script>

<div class="panel panel-info no-data-panel">
    <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> No Cached Data</div>
    <div class="panel-body">
        <div class="col-md-10">
            <p>
                There is currently no cached data available for this tab. Click Generate to get started. For data that requires the content service (The Content Tab and Page Expiry Tab), this could take a minimum of 30 seconds.
            </p>
            <p>
                Once some data is generated and cached you won't have to wait the next time you open this tab.
            </p>
        </div>
        <div class="col-md-2">
            <p><a href="@Model" class="btn btn-primary generate" type="button">Generate <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></p>
        </div>
    </div>
</div>

@{Html.RenderPartial("~/App_Plugins/EditorTools/Views/Partials/_RegeneratingCache.cshtml");}

<script>
    $('.generating').hide();
    $('.generate').on('click', function (event) {
        $('.generating').show();
        $('.no-data-panel').hide();
    });
</script>
