
<div class="panel panel-info generating">
    <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Generating</div>
    <div class="panel-body">
        <div class="col-md-10">
            Processing... Please wait...
        </div>
        <div class="progress progress-striped active">
            <div class="progress-bar " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">100% Complete</span>
            </div>
        </div>
    </div>
</div>