@{
    Layout = "~/App_Plugins/EditorTools/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Users";
}
@model Escc.Umbraco.EditorTools.App_Plugins.EditorTools.Models.ViewModels.PageExpiryViewModel
<p></p>
<div id="PageExpiry">
    <div class="list-group panel panel-info">
        <a href="#PageExpiryStats" class="list-group-item" data-toggle="active" data-parent="#PageExpiry"><span class="glyphicon glyphicon-time"></span> <b>Page Expiry Information</b></a>
        <div class="active" id="PageExpiryStats">
            <div class="thumbnail">
                <p>  </p>
                <div class="panel with-nav-tabs panel-czone">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Expiring" data-toggle="tab"><b>Expiring Pages</b></a></li>
                            <li><a href="#NeverExpires" data-toggle="tab"><b>Never Expiring Pages</b></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="Expiring">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            This tab displays all pages with an expiry date.
                                        </div>
                                    </div>
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Expiring</h3>
                                        </div>
                                        <div class="panel-body">
                                            @{Html.RenderPartial("~/App_Plugins/EditorTools/Views/Partials/_DataTable.cshtml", Model.Expiring);}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="NeverExpires">
                                <div class="row">
                                    <div class="panel panel-info">
                                        <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                        <div class="panel-body">
                                            This tab displays all pages that are published without an expiry date.
                                        </div>
                                    </div>
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Never Expires</h3>
                                        </div>
                                        <div class="panel-body">
                                            @{Html.RenderPartial("~/App_Plugins/EditorTools/Views/Partials/_DataTable.cshtml", Model.NeverExpires);}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
