@{
    Layout = "~/App_Plugins/EditorTools/Views/Shared/_Layout.cshtml";
}
@model Escc.Umbraco.EditorTools.App_Plugins.EditorTools.Models.DataModels.TableModel

<p></p>
@using (Html.BeginForm("UpdateSelected", "ExpiryBulkUpdate", FormMethod.Post))
{
    <div class="form-group">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Bulk Update Expiry Dates</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-9 col-sm-9 col-md-9">
                    <p>
                          Now tick the pages you wish to update, and select an expiry date.
                    </p>
                    <p><b>To select a page, simply tick the checkbox on the update column.</b></p>
                </div>
                <div class="pull-right">
                    <p><a href="/umbraco/backoffice/Plugins/ExpiryBulkUpdate/Index" class="btn btn-warning" type="button">Back</a></p>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Choose an Expiry Date</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-9 col-sm-9 col-md-9">
                    <p><b>To select an expiry date, click on the calendar icon.</b></p>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" name="ExpireDate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar pull-left" aria-hidden="true"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker({
                                        format: 'DD/MM/YYYY',
                                        locale: 'en'
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary" value="Update Selected" id="SubmitButton" />
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Select pages to update</h3>
            </div>
            <div class="panel-body">
                @{Html.RenderPartial("~/App_Plugins/EditorTools/Views/Partials/_DataTable.cshtml", Model);}
            </div>
        </div>
    </div>
                    }

