@{
    Layout = "~/App_Plugins/EditorTools/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Stats";
}
@model Escc.Umbraco.EditorTools.App_Plugins.EditorTools.Models.ViewModels.StatsViewModel

<p></p>
<div id="Stats">
    <div class="list-group panel panel-info">
        <a href="#UmbracoStats" class="list-group-item" data-toggle="active" data-parent="#Stats"><span class="glyphicon glyphicon-stats"></span> <b>Stats</b></a>
        <div class="active" id="UmbracoStats">
            <div class="thumbnail">
                <p>  </p>
                <div class="panel with-nav-tabs panel-czone">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#CrawlerStats" data-toggle="tab"><b>What Links Where?</b></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="CrawlerStats">
                                @if (Model.CrawlerStatsAvailable)
                                {
                                    <div class="row">
                                        <div class="panel panel-info">
                                            <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                            <div class="panel-body">
                                                <div class="col-md-6">
                                                    This tab displays statistics about the 'What Links Where?' crawler.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Statistics</h3>
                                            </div>
                                            <div class="panel-body">
                                                <h3>Total Broken: <span class="label label-danger">@Model.Crawler.TotalBrokenLinks</span></h3>
                                                <h3>Total Verified: <span class="label label-success">@Model.Crawler.TotalVerified</span></h3>
                                                <h3>Unique Links Found: <span class="label label-info">@Model.Crawler.TotalUniqueLinks</span></h3>
                                                <h3>Unique Domains Found: <span class="label label-info">@Model.Crawler.TotalDomainsFound</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel panel-success">
                                            <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Domains</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    @{Html.RenderPartial("~/App_Plugins/EditorTools/Views/Partials/_DataTable.cshtml", Model.Crawler.Domains);}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                    else
                                    {
                                        <div class="panel panel-info">
                                            <div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    No data is currently cached for this tab, head over to the 'What Links Where?' tool and cache some data to view statistics.
                                                </div>
                                            </div>
                                        </div>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
